{{!-- Detalles de escalador  --}}

<h1>Climber Details</h1>
<h3>{{climber.name}}</h3>
<p>{{climber.description}}</p>
<p>City: {{climber.city}} - Age: {{climber.age}}</p>

<a href="/climbers">Atrás</a>